.urgency{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    border-radius: 3px;
    /* -webkit-box-shadow: 9px 11px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 11px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 9px 11px 20px 0px rgba(0,0,0,0.75);; */
}

.urgency p{
    margin: 0;
    padding: 15px;
}

.side-border{
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.selceted {
    background-color: #9099e8;    
}