@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.App {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  width: 360px;
}

.hide{
  display: none;
}

.voting{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.footer{
  display: flex;
  justify-content: space-between;
}

.space-between{
  display: flex;
  justify-content: space-between;
}

.vote{
  font-size: 1.2rem;
  background-color: yellow;
  border: 1.2px solid black;
  height: fit-content;
  border-radius:5px ;
  padding: 10px;
}

.left{
  text-align: left;
}

.share{
  font-size: 1.2rem;
  background-color: yellow;
  border: 1.2px solid black;
  height: fit-content;
  align-self: center;
  border-radius:5px ;
  padding: 10px;
  background-color: palevioletred;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
